# .env.example

# This file provides an example template for your environment variables configuration.
# Environment variables are used to store sensitive or configurable information outside of your codebase.
# Copy this file as ".env" and replace the placeholders with your actual values.

# Configure your Google API key.
# Replace the placeholder with your Google API key.
GOOGLE_API_KEY=

# Configure your Google Client ID.
# Replace the placeholder with your Google Client ID.
GOOGLE_CLIENT_ID=

# Configure your Google credentials.
# Replace the placeholder with your Google credentials.
GOOGLE_CREDS=

# Configure the Redis host.
# Replace the placeholder with your Redis host.
REDIS_HOST=

# Configure the Redis port.
# Replace the placeholder with your Redis port.
REDIS_PORT=

# Configure the Redis password.
# Replace the placeholder with your Redis password.
REDIS_PASSWORD=

# Configure the API key for accessing the PB API.
# Replace the placeholder with your API key.
API_KEY=
