.Skeleton {
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 90%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }

  &__container {
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    animation: skeleton-loading 1s linear infinite alternate;
  }
}